@import url('https://fonts.googleapis.com/css?family=Caveat|Rochester|Tangerine');

/****** GENERAL ******/

body {
  background: url(../images/hogswartPaper.jpg) no-repeat center;
  font-family: 'Tangerine', cursive;
  /*font-family: 'Rochester', cursive;*/
  /*font-family: 'Caveat', cursive;*/ 
  background-color: burlywood;

}

/****** TITLE ******/
.title {
  text-align: center;
}

.title h1 {
  font-size: 300%;
}

/****** MAIN AREA ******/
.mainArea {
  text-align: center;
  margin: 60px 0 0 0;
  font-size: 130%;
  font-weight: bold;
}

.mainArea a {
  text-decoration: none;
  border: solid black 2px;
  border-radius: 9px;
  padding: 7px;
  color: black;
}

/****** FOOTER ******/

footer {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 25%;
}

ul {
  list-style: none;
  padding: 0;
}

.icon {
  fill: black;
}